#browse-section {
  margin: 0;
  padding: 0;
}

#browse-nav,
.left,
.right {
  display: flex;
}

#browse-nav {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  height: 70px;
  justify-content: center;
  gap: 46%;
  margin: auto;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 100%
  );
}

video {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 100%
  );
}

.info {
  width: 90%;
  margin: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 70px;
  z-index: 1;
  top: 40%;
  left: 0;
  right: 0;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 600px;

  p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 25px;
  }
}

.movie-buttons {
  display: flex;
  gap: 10px;
}

.movie-buttons > div {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  border-radius: 5px;

  img {
    width: 40px;
  }
}

.play {
  background-color: lightgray;
  color: black;
}

.more-info {
  background-color: gray;
}

.all-shows {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.show-all-shows {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.show-all-shows > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-all-shows > div > div {
  display: flex;
  gap: 5px;
}

.show {
  background-color: gray;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  transition: transform;
  transition-delay: 0.3s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.show:hover {
  transform: scale(1.5);
}

.left,
.right {
  align-items: center;
}

.left {
  gap: 45px;
}

.right {
  gap: 20px;

  a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.8vw;
  }
}

.links > ul {
  list-style: none;
  font-size: 0.8vw;
  gap: 15px;

  li > a {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
  }
}

.right > img {
  width: 30px;
}

.small-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 450px;
  align-items: center;
}

.small-links {
  background-color: rgba(0, 0, 0, 0.8);
  top: 90px;
  left: 100px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
  }
}
