body {
  overflow: hidden;
}

#error-page {
  background-image: url('/error-image.png');
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

#error-nav {
  display: flex;
  align-items: center;
  height: 65px;
  background-color: #040506;
  padding-left: 37px;
}

.content {
  height: calc(100vh - 65px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 25vh;
  gap: 2vw;

  h1 {
    font-size: max(2rem, 4.2vw);
    letter-spacing: 1px;
  }
}

.error-message,
.error-code {
  text-align: center;
  width: 50vw;
  font-size: max(14px, 1.5vw);
  letter-spacing: 1px;
}

.return {
  padding: max(10px, 0.8vw) max(15px, 1.8vw);
  font-size: max(12px, 1.15vw);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.return:hover {
  opacity: 0.5;
}

.error-code {
  position: fixed;
  bottom: 200px;
  font-weight: lighter;
  width: fit-content;
  border-left: solid 1px red;
  padding: 1vw 2vw;

  span {
    font-weight: bold;
  }
}

.credits {
  position: absolute;
  bottom: 2.5vw;
  right: 6vw;
  letter-spacing: 1px;
}
