* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #141414;
  color: white;
}

#profile-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: unset;
    font-size: max(30px, 3.5vw);
    letter-spacing: 1px;
  }
}

.image {
  width: max(100px, 10vw);
  height: max(100px, 10vw);
  border-radius: 5px;
  border: solid 3px #141414;
}

.gray-image {
  background-color: gray;
}

.blue-image {
  background-color: blue;
}

#all-profiles {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding-bottom: 12vh;
  padding-top: 2%;
}

#all-profiles > div > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: gray;

  h3 {
    font-weight: unset;
    font-size: max(12px, 1.2vw);
    letter-spacing: 1px;
  }
}

#all-profiles > div:hover {
  div {
    border: solid 3px white;
  }

  h3 {
    color: white;
  }
}

#manage-profiles {
  background: none;
  color: gray;
  font-size: max(14px, 1.2vw);
  letter-spacing: 1px;
  border: solid 1.5px gray;
  padding: min(1vw, 10px) min(4vw, 40px);
  cursor: pointer;
}

#manage-profiles:hover {
  color: white;
  border: solid 1.5px white;
}
