nav,
.left,
.links > ul {
  display: flex;
}

nav {
  width: 95%;
  margin: auto;
}

.left {
  align-items: center;
  gap: 50px;
}

.links > ul {
  list-style: none;
  font-size: 0.8vw;
  gap: 15px;

  li > a {
    color: white;
    text-decoration: none;
  }
}
